mixin ie(condition)
    | <!--[!{condition}]>
    block
    | <![endif]-->
doctype html
// [if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]
// [if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]
// [if IE 8]>         <html class='no-js lt-ie9'> <![endif]
// [if gt IE 8]><!
html.no-js(xmlns:ng='http://angularjs.org')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        <title>Online Desktop</title>
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='icon', type='image/png', href='./imgs/logo.png')
        link(rel='shortcut icon', type='image/png', href='./imgs/logo.png')
        link(rel='stylesheet', href='./public/css/lib/normalize.min.css')
        link(rel='stylesheet', href='./bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='./public/css/all.css')

        block styles

        +ie('if IE')
            script(src='./bower_components/html5shiv/dist/html5shiv.min.js')
            script(src='./bower_components/respond/dest/respond.min.js')
            script(src='./bower_components/es5-shim/es5-shim.js')
            script(src='./bower_components/json3/libs/json3.min.js')

    body
        block content
        script(src='./bower_components/jquery/dist/jquery.min.js')
        script(src='./bower_components/lodash/dist/lodash.min.js')
        script(src='./bower_components/angular/angular.min.js')

        script(src='./public/js/config.js')
        script(src='./public/js/modules-init.js')

        // controllers

        // services
        script(src='./public/js/services/LocalStorageService.js')
        block script
        script(src='./public/js/angular-startup.js')
