doctype html(lang='zh-cn')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title It 's a Saying

    link(href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
body
    .container
        .row
            .col-sm-8.col-sm-offset-2
                h2 一句话，一辈子
                hr
                blockquote.blockquote-reverse
                    p 我们用初中三年去盼望高中三年，我们用高中三年去憧憬大学四年，而用大学四年去怀念中学六年，最终用我们的一生去祭奠我们的青春。
                    footer weibo
                hr
                blockquote
                    p 对一个男人来说，最无能为力的事儿就是: 在最没有能力的年纪，碰见了，最想照顾一生的姑娘。
                    footer weibo
                hr
                blockquote.blockquote-reverse
                    p 人生最可悲的事情，莫过于胸怀大志，却又虚度光阴
                    footer weibo
                hr
                blockquote
                    p I will go out of this world the same way I came in, alone and with nothing.
                    p 我孤独地来，孤独地去，生不带来，死不带去。
                    footer weibo
                hr
    script(src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js')
